body {
    background: darkseagreen;
}
h1 {
    color: #333333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: 600;
}
h2 {
    color: #333333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: 500;
}
h3 {
    color: #333333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: 400;
}
p {
    color: #333333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    padding: 13px;
    font-weight: 250;
    background-color: honeydew;
    border: #333333, 2px;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 150%;
}
button {
    color: #333333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: #333333, 2px;
}
hr {
    margin: 20px;
}
li {
    list-style-type: circle;
    color: #333333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    padding: 15px;
    background-color: honeydew;
    border: #333333, 2px;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 50%;
    font-weight: 250%;
}